<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Ecommerce</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 </head>
 <body>
   <div class="container m-3 col-3">
      <div class="card">
         <div class="card-header">
            <h2>Upload Product</h2>
         </div>
         <div class="card-body">
            <div class="">
               <form action="/products" method="post">
                  <input class="m-2 col-10" name="name"> <br>
                  <input class="m-2 col-10" name="price" type="number"><br>
                  <textarea class="m-2" name="description" cols="33" rows="4"></textarea><br>
                  <input class="m-2" type="file" name="image" multiple="multiple" accept="image/*"> <br>
                  <button class="m-2 btn btn-dark col-10" type="submit">Enviar</button>
               </form>
            </div>
         </div>
         <div class="card-footer">
            <a href="/products">To Products</a>
         </div>
     </div>
   </div>

    
 </body>
 </html>